{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% include 'inc/navbar.html' %}
{% include 'inc/messages.html' %}
{% block content %}{% endblock %}
{% include 'inc/footer.html' %}
<div class="bg"></div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>